.cart-item {
    display: flex;
    /* justify-content: space-between; */
  }

  .card-cart{
    border: none !important;
  }
  
.--bs-card-border-width{
  border: none;
}
  .item-info {
    display: flex;
    align-items: center;
  }
  
  .quantity {
    display: flex;
    align-items: center;
  }
  
  .quantity button {
    margin: 0 5px;
  }
  
  .total {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    margin: 20px 0px 40px 0px;
    margin-bottom: 70px;
  }
  
  .cart-item-title {
    word-wrap: break-word;
    white-space: normal;
  }