.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .card {
    width: 30%;
    margin-bottom: 20px;
  }
  
  .carousel-control-next-icon{
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 50%;
  }
  .carousel-control-prev-icon{
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 50%;
  }

  @media (max-width: 480px) {
    .d-flex {
      width: 100%;
    }
  }
  