.login-container {
  max-width: 400px;
  margin: 0px auto;
  padding: 20px;
  background-color: #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.newUser{
  text-align: center;
}
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    border-radius: 3px;
  }
  
  .btn-primary {
    width: 100%;
  }
  